<clipitem id="{{clip_item_id}}" frameBlend="FALSE">
  <masterclipid>masterclip-4</masterclipid>
  <name>{{name}}</name>
  <enabled>TRUE</enabled>
  <duration>1035764</duration>
  <rate>
    <timebase>24</timebase>
    <ntsc>TRUE</ntsc>
  </rate>
  <start>{{clip_start}}</start>
  <end>{{clip_end}}</end>
  <in>{{clip_in}}</in>
  <out>{{clip_out}}</out>
  <alphatype>none</alphatype>
  <pixelaspectratio>square</pixelaspectratio>
  <anamorphic>FALSE</anamorphic>
  {{{file}}}
  <logginginfo>
    <description></description>
    <scene></scene>
    <shottake></shottake>
    <lognote></lognote>
  </logginginfo>
  <labels>
    <label2>{{clip_color}}</label2>
  </labels>
</clipitem>
